* {
    /* outline: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
    color: white;
}

.left-panel{
    display: flex;
    flex-direction: column;
    padding-left: 330px;
}

/*Style for logos*/

.x-logo{
    max-width: 27px;
    height: 25px;
    margin-top: 15px;
    display: flex;
    margin-left: 12px;
}

.x-logo svg{
    fill: white;
    max-width: 50px;
    height: 30px;
}

.categories svg {
    fill: white;
    max-width: 26.25px;
    height: 26.25px;
}

/*Left panel*/

.categories{
    margin-top: 20px;
}
.categories .home{
    padding: 12px;
    display: flex;
}

.categories .home span {
    margin-left: 20px;
    margin-right: 16px;
    font-size: 20px;
}

/* Left panel post button*/

.post-button button{
    height: 50px;
    min-width: 234px;
    padding: 0 32px;
    font-size: 15px;
}
